.App {
  padding: 142px 204px 10px 80px;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.hide-check-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #000000;
  visibility: hidden;
  gap: 15px;
}

.todo-list-container {
  width: 100%;
  padding-top: 7px;
  height: 20%;
}

.blank-home-text {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 85px;
  flex-direction: column;
}

.p1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.2px;
  text-transform: capitalize;
  color: #acacac;
}

.p2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-transform: capitalize;
  color: #666666;
}

.form-container {
  height: max-content;
}

@media only screen and (max-width: 1020px) {
  .App {
    padding: 80px 20px 10px 20px;
  }
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 88px 24px 10px 24px;
  }

  .container {
    gap: 53px;
  }

  .todo-list-container {
    padding-top: 11px;
  }

  .blank-home-text {
    padding-top: 67px;
  }

  .hide-check-container {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.5px;
  }

  .p1 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #acacac;
  }

  .p2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.002em;
    text-transform: capitalize;
    color: #666666;
  }
}

@media only screen and (max-width: 376px) {
  .App {
    height: 819px;
  }

  .p1 {
    width: 286px;
    height: 21px;
  }
}
