.single-task {
  display: flex;
  height: 72px;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  border-bottom: 1px solid #e5e5e5;
  color: #666666;
  padding: 20px 15.6px 20px 3px;
}

.completed {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
  color: #acacac;
}

.delete-btn {
  width: 13px;
  height: 13px;
}

.checkbox {
  width: 18px;
  height: 18px;
}

.single-task-name-container {
  width: 100%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  text-transform: capitalize;
}

@media only screen and (max-width: 600px) {
  .single-task {
    gap: 0;
    padding: 20px 5.4px 20px 3px;
    height: 94px;

    width: 100%;
  }

  .single-task-name-container {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-transform: capitalize;
    margin-left: 11px;
    margin-right: 2px;
  }
}

@media only screen and (max-width: 376px) {

}
